@model IEnumerable<PluralsightExample.Models.Product>
@{
    ViewBag.Title = "Index";
}


<h2>Product List</h2>
<br />

<div name="filterTerm">1</div>

<hr />

@{
    var list = Model.OrderBy(P => P.ProductName);

}


@foreach (var product in Model)
{
    <div>
        <p style="text-align:left;">@product.ProductName
        <span style="float:right;">@String.Format("{0:c}", product.UnitPrice)</span>
        </p>
    </div>
    <hr />

}

